.promotion-banner-container {
  width: 90%;
  margin: auto;
  position: relative;
}

.promotion-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  padding: 10px;
  position: relative;
}

.promotion-image {
  width: 100%;
  height: 15vh;
  border-radius: 12px;
}

.custom-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-arrow img {
  width: 50%;
  height: auto;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

@media (max-width: 768px) {
  .promotion-banner-container {
    width: 95%;
  }
  .custom-arrow {
    width: 25px;
    height: 25px;
  }
  .custom-arrow img {
    width: 40%;
  }
  .promotion-image {
    height: 12vh;
  }
}

@media (max-width: 480px) {
  .promotion-banner-container {
    width: 100%;
    margin-top: -30px;
  }
  .promotion-banner {
    height: auto;
  }
  .promotion-image {
    height: 19vh;
    border-radius: 8px;
  }
  .custom-arrow {
    display: none;
  }
}
